@media (max-width: 480px) {
  .banner-content{
    left:23%;
    
  }
  .category-content h1{
    font-size: 2rem;
  }
  .mens-content{
    top: 14%;
    left: 31%;
   }
   .womens-content {
    top: 60%;
    right: 33%;
   }
   .men-banner-content{
    top: 35%;
    left: 20%;
   }
   .women-banner-content{
    top: 35%;
    left: 20%;
   }
}

@media (min-width: 481px) and (max-width: 767px) {
  .banner-content{
    left:30%;
    
  } 
  .category-content h1{
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mens-content{
    top: 14%;
    left: 31%;
   }
   .womens-content {
    top: 70%;
    right: 33%;
   }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .mens-content{
    top: 35%;
    left: 5%;
   }
   .womens-content {
    top: 35%;
    left: 65%;
   }
}

.mens-img img{
    width:100%;
  }
   .womens-img img{
    width:100%;
   
  }
@media(max-width:500px){
.mens-img img{
    width:454px;
    
  }
  .womens-img img{
    width:454px;
  }
  .banner-img img{
  width: 100%;
  
}
  body{
  overflow-x: hidden;
}
[type=button], [type=reset], [type=submit], button {
    width: 95%;
}
.form-control {
    width: 95%;
}
}
