{% extends "base.html" %}


{% block content %}

<section>
    <div class="contact-section">
        <div class="container">
            
            <div class="contact p-5">
                <p><span><a href="{% url 'home'%}" style='color:#88C8BC;'>Home</a></span>{{request.path}}</p>
                <h1>Contact Information</h1>
                <div class="row">
                    <div class="col">
                        <div class="address">
                            <p> <i class="fa-solid fa-location-dot m-2 fs-4"></i>198 West 21th Street,Suite 721 New York NY 10016</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="call">
                               <p><i class="fa-solid fa-phone m-2 fs-4"></i> + 1235 2355 98</p>
                       </div>
                    </div>
                    <div class="col">
                          <div class="telegram"> 
                            <p><i class="fa-brands fa-telegram m-2 fs-4"></i> info@yoursite.com</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="telegram"> 
                            <p><i class="fa-solid fa-globe m-2 fs-4"></i>yoursite.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 gy-5">
                    <div class="contact-form p-5" style='background-color:#F5F5F5;'>
                    <div class="contact-form-content">
                      <form action="">
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="">First Name</label>
                                <input type="text" placeholder='Your First Name' required class='form-control   '>
                            </div>
                            <div class="col-lg-6">
                                <label for="">Last Name</label>
                                <input type="text" placeholder='Your Last Name' class='form-control'>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-12">
                                <label for="">Email</label>
                                <input type="email" placeholder='Your Email Address' class='d-block form-control'>
                            </div>
                            <div class="col-lg-12">
                                <label for="">Subject</label>
                                <input type="text" placeholder='Your Subject Of This Message' class='d-block form-control'>
                            </div>
                        </div>
                        <div class="row">
                            <label for="">Message</label>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px">
                                </textarea>  
                                <button type='submit'>Send Message</button>  
                            </div>
                        </div>
                     </form>
                    </div>
                </div>
                
               </div>
               
            </div>
            
        </div>
    </div>
</section>

{% endblock content %}



