{% extends "base.html" %}

{% block content %}
<div class="container ">
    <div class="my-3 d-flex justify-content-between">
        <a href="{% url 'home' %}" class='btn btn-secondary'>Back To Home</a>
        <a href="" class='btn btn-secondary'><i class="me-2 fa-solid fa-pencil"></i>Edit</a>
    </div>
        <div class="address-form">
            <h2 class="text-center">Shipping Address</h2>
            <form method="post">
                {% csrf_token %}
                

                <div class="mb-3">
                    <label for="full_name" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="full_name" name="full_name" value={{data.name}} required>
                </div>

                <div class="mb-3">
                    <label for="address_line" class="form-label">Address Line</label>
                    <input class="form-control" id="address_line" name="address" rows="3" value={{data.address}} required>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" name="city" value={{data.city}} required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="pincode" class="form-label">Pincode</label>
                        <input type="text" class="form-control" id="pincode" name="pincode" value={{data.pincode}} required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type='text' class="form-control" id="country" name="country" value={{data.country}} required>
                       
                </div>

                <!-- Mobile Number 1 -->
                <div class="row mb-3">
                    
                    <div class="col-md-12">
                        <label for="phone1" class="form-label">Mobile Number</label>
                        <input type="tel" class="form-control" id="phone1" name="phone1" value={{data.mobile_number}} required>
                    </div>
                </div>

                <!-- Mobile Number 2 -->
                <div class="row mb-3">
                    
                    <div class="col-md-12">
                        <label for="phone2" class="form-label">Alternate Mobile Number</label>
                        <input type="tel" class="form-control" id="phone2" name="phone2" value={{data.alternate_mobile}}>
                    </div>
                </div>

                <button type="submit" class="btn btn-submit">Save Address</button>
            </form>
        </div>
    </div>


{% endblock content %}



