{% extends "base.html" %}
{% block content %}
   <!--Banner Start-->
     <section>
        <div class="banner-section">
            <div class="banner-content m-auto">
                <h1>Men's Collection</h1>
                <h5>New Arrivals</h5>
                <a href='{% url 'allproducts'%}' class='btn'>Shop Now</a>
            </div>
            <div class="banner-img">
                <img src="/static/img/banner.jpg" alt="" class='img-fluid object-fit-cover' style='width:100%;height:80vh;'>
            </div>
        </div>
     </section>
    
     <!--Banner End-->
     <!--categories section start-->
      <section>
        <div class="categories-section " >
            <div class="category-content" style='margin:100px 10px;'>
                <h1 class='text-center '>
                    It started with a simple idea: Create quality, well-designed products that I wanted myself.
                </h1>
            </div>
            <div class="categories">
                <div class="row ">
                    <div class="col-lg-6 p-0">
                        <div class="container p-0">
                            <div class="mens-collection">
                                <div class="mens-content">
                                    <h1>
                                        50% Off  On Men's Shoes
                                    </h1>
                                    <a href='{% url 'men' None %}' class='btn'>Shop Now</a>
                                </div>
                                <div class="mens-img">
                                    <img src="/static/img/mens.jpg" alt="" class='img-fluid object-fit-cover' style='height:100vh; width:100%;'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 ">
                        <div class="container p-0">
                            <div class="womens-collection">
                                <div class="womens-content">
                                    <h1>50% Off On Women's Shoes</h1>
                                    <a href='{% url 'women' None %}' class='btn' >Shop Now</a>
                                </div>
                                <div class="womens-img">
                                    <img src="/static/img/womens.jpeg" alt="" class='img-fluid object-fit-cover' style='height:100vh; width:100%;'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
     </section> 
    
     
     <!--categories section end-->
     <!--BestSeller section Start-->
     <section>
        <div class="best-seller">
            <div class="container ">
                <div class="best-seller-heading">
                    <h1 class='text-center '>BEST SELLERS</h1>
                </div>
                <div class="row g-5">
                    {% for i in product %}
                    <div class="col-lg-3">
                        <a href="{% url 'productdetail' i.id %}">
                        <div class="best-seller-cards">
                            <div class="card">
                                <img src="/media/{{i.image}}" class="card-img-top img-fluid" alt="..." style="height:15rem">
                                <div class="card-body text-center" style='line-height:15px;'>
                                    <p class='card-text'>
                                        {{i.product_name}}
                                    </p>
                                    <p>{{i.brand}}</p>
                                    <p>${{i.selling_price}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    
                    {% endfor %}
                </div>
                <div class="best-seller-button text-center">
                    <a href="{% url 'allproducts' %}" class="btn my-3">Shop All Collection</a>
                </div>
            </div>
        </div>
     </section>

     <!--BestSeller section end-->

     <!--Partners section Start-->
     <section>
        <div class="partners">
            <div class="container">
                <div class="partners-heading">
                    <h4  style='color:grey; text-align:center;'>TRUSTED PARTNERS</h4>
                </div>
            
                <div class="row">
                    <div class="col ">
                        <img src="/static/img/brand-1.jpg" alt="" class='img-fluid'>
                    </div>
                    <div class="col">
                        <img src="/static/img/brand-2.jpg" alt="" class='img-fluid'>
                    </div>
                    <div class="col">
                        <img src="/static/img/brand-3.jpg" alt="" class='img-fluid'>
                    </div>
                    <div class="col">
                        <img src="/static/img/brand-4.jpg" alt="" class='img-fluid'>
                    </div>
                    <div class="col">
                        <img src="/static/img/brand-5.jpg" alt="" class='img-fluid'>
                    </div>
                 </div>
            </div>
        </div>
     </section>

     <!--Partners section end-->
     


{% endblock content %}




  
