{% extends 'base.html' %}

{% block content %}
<div class="order_success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="order_successful text-center my-5 py-5">
                    <h2>🎉 Your order has been placed successfully!</h2>
                    <a href="/" class="btn bg-success text-light rounded-pill py-3 px-5 my-3">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}