{% extends "base.html" %}

{% block content %}
<section>
    <div class="productdetail">
        <div class="container">
            <div class="row">
                <p><span><a href="{% url 'home'%}" style='color:#88C8BC;'>Home</a></span>{{request.path}}</p>
                <div class="col-lg-6">
                    <div class="productdetail-img">
                        <img src="/media/{{detail.image}}" alt="" class='img-fluid'>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="productdetail-content">
                        <h3>{{detail.product_name}}</h3>
                        <h4>${{detail.discounted_price}}</h4>
                        <h6 class='text-decoration-line-through'>${{detail.selling_price}}</h6>
                        <p>{{detail.description}}</p>
                        <h5>Size</h5>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="box">
                                    <p>6</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="box">
                                    <p>7</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                 <div class="box">
                                    <p>8</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                 <div class="box">
                                    <p>9</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                 <div class="box">
                                    <p>10</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                 <div class="box">
                                    <p>11</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <h5>Quantity</h5>
                            <div class="input-group"> 
                                <button class="btn btn-outline-secondary btn-sm" type="button">-</button>
                                <input style="" type="text" class="form-control  form-control-sm text-center quantity-input" value="1">
                                <button class="btn btn-outline-secondary btn-sm" type="button">+</button>
                        </div>
                        <form action="{% url 'cart' detail.id %}" method="POST">
                           {% csrf_token %}
                           <button type='submit' class='cart-btn'><i class="fa-solid fa-cart-shopping me-2 fs-5"></i>Add To Cart</button>
                        </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="allproducts">
            <h1 class='bg-secondary text-white fw-bold text-center my-5'>All Products</h1>
            <div class="row gy-5">

                {% for i in allproduct %}
                <div class="col-lg-3">
                         <a href="{% url 'productdetail' i.id %}">
                            <div class="men-card">
                                <div class="card" style="width: 15rem;">
                                        <img src="/media/{{i.image}}" class="card-img-top img-fluid" alt="..." style="height:15rem;">
                                        <div class="card-body text-center" style='line-height:15px;'>
                                            <p class='card-text'>
                                            {{i.product_name}}</p>
                                            <p>{{i.brand}}</p>
                                            <p>${{i.selling_price}}</p>
                                        </div>
                                    </div>
                            </div>
                        </a>
                        </div>
                    
                    {% endfor %}


               
            </div>
        </div>
    </div>
</section>


{% endblock content %}



