{% extends 'base.html' %}

{% block content %}
<section class="search">
    <div class="container">
        <div class="row g-5 my-5">
            <div class="section-heading ">
                <h1>Showing Result of : {{q}}</h1>
            </div>
            {% for i in data %}
                    <div class="col-lg-3">
                        <a href="{% url 'productdetail' i.id %}">
                        <div class="best-seller-cards">
                            <div class="card" style="width: 15rem;">
                                <img src="/media/{{i.image}}" class="card-img-top img-fluid" alt="..." style="height:15rem">
                                <div class="card-body text-center" style='line-height:15px;'>
                                    <p class='card-text'>
                                        {{i.product_name}}
                                    </p>
                                    <p>{{i.brand}}</p>
                                    <p>${{i.selling_price}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    
                    {% endfor %}
        </div>
    </div>

</section>
{% endblock content %}